<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Layout Basica</title>
</head>
<body>
  
  <div class="contenedor">
  	<header>
  		<nav>
  			<ul>
  				<li><a href="#">Inicio</a></li>
  				<li><a href="#">Acerca de</a></li>
  				<li><a href="#">Productos</a></li>
  				<li><a href="#">Contacto</a></li>
  				
  			</ul>
  		</nav>
    </header>

  	<section class="main">
  		<div class="imagen">
  			<img src="imge/bg.jpg" alt="">
  		</div>

  		<section class="posts">
  			<article>
  				<h2>Titulo del Ariculo</h2>
  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum blandit metus a eleifend. Integer ac orci ut neque facilisis tincidunt. Maecenas sodales justo tellus. Mauris aliquam at urna ut tristique. Aenean eget congue massa. Donec in consectetur sapien. Curabitur porta volutpat porta. Curabitur placerat semper diam consequat laoreet.</p>

  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum blandit metus a eleifend. Integer ac orci ut neque facilisis tincidunt. Maecenas sodales justo tellus. Mauris aliquam at urna ut tristique. Aenean eget congue massa. Donec in consectetur sapien. Curabitur porta volutpat porta. Curabitur placerat semper diam consequat laoreet.</p>
  			</article>
  			
  		</section>
    </section>

    <aside>
    	<div class="widget">
    		<h3 class="titulo">Articulos Destacados</h3>
    		<ul>
    			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
    			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
    			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
    			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
    			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
    		</ul>
    	</div>

    	<div class="widget">
    		<h3 class="titulo">Informacion</h3> 
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum blandit metus a eleifend. Integer ac orci ut neque facilisis tincidunt. Maecenas sodales justo tellus. Mauris aliquam at urna ut tristique. Aenean eget congue massa. Donec in consectetur sapien. Curabitur porta volutpat porta. Curabitur placerat semper diam consequat laoreet.</p>
    	</div>
    </aside>
    
    <footer>
    	<p>Alejandra Diaz 2023 - Todos los Derechos Reservados</p>
    </footer>
  </div>
  
</body>
</html>